@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {

  .dark {
    color-scheme: dark;
  }
}