@using LMS.Client.Source.Widgets.Sidebar

@inherits LayoutComponentBase

<div class="w-full min-h-screen">
  <div class="w-full grid grid-rows-[auto,1fr]">
    <Sidebar />
    <main class="size-full overflow-x-hidden p-6">
      @Body
    </main>
  </div>
</div>