@using Blazor.Heroicons;

<div class="flex items-center select-none w-full gap-4">
  @foreach (SidebarItem item in SidebarItems)
  {
    <SidebarMenuItem
      Label="@item.Label"
      Url="@item.Url"
      Icon="@item.Icon"
    />
  }
</div>


@code{
  private record SidebarItem(string Label, string Url, string Icon);

  private static List<SidebarItem> SidebarItems =>
  [
    new("Главная", Urls.Main, HeroiconName.Home),
    new("Группы", Urls.Courses, HeroiconName.AcademicCap)
  ];
}