<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LMS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
          <NavLink class="nav-link" href="@Urls.Home" Match="NavLinkMatch.All" data-enhance-nav="false">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Дом
          </NavLink>
          <NavLink class="nav-link" href="@Urls.Code" Match="NavLinkMatch.All" data-enhance-nav="false">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Код
          </NavLink>
        </div>
    </nav>
</div>