@implements IDisposable
@using Blazor.Heroicons

<div>
  <a href="@Url" class="@Css.Class(GetIsActivePath(Url) ? "text-secondary" : "text-primary hover:text-secondary/70", "transition-colors mx-2 flex items-center relative h-14 gap-2")">
    <Heroicon
      Name="@Icon"
      Type="HeroiconType.Outline"
      class="size-[1.1rem]"/>
    <span class="truncate">
      @Label
    </span>
    <div class="@Css.Class(GetIsActivePath(Url) ? "bg-secondary" : "", "absolute inset-x-0 bottom-0 h-1 rounded-t-md")"/>
  </a>
</div>

@code {
  [Inject] private NavigationManager NavigationManager { get; set; } = null!;

  [Parameter, EditorRequired] public string Url { get; set; } = string.Empty;
  [Parameter, EditorRequired] public string Label { get; set; } = string.Empty;
  [Parameter, EditorRequired] public string Icon { get; set; } = HeroiconName.Home;

  protected override void OnInitialized()
  {
    NavigationManager.LocationChanged += HandleLocationChanged;
  }

  private bool GetIsActivePath(string relativePath)
  {
    string currentUri = NavigationManager.Uri;
    string uriToCheck = new Uri(new(NavigationManager.BaseUri), relativePath).ToString();
    bool startsWithFullPath = currentUri.StartsWith(uriToCheck, StringComparison.OrdinalIgnoreCase);
    bool isExactMatchOrSubpath = currentUri.Length >= uriToCheck.Length &&
                                 (currentUri.Length == uriToCheck.Length || currentUri[uriToCheck.Length] == '/');
    return startsWithFullPath && isExactMatchOrSubpath;
  }
  private void HandleLocationChanged(object? sender, LocationChangedEventArgs e) => StateHasChanged();

  public void Dispose() => NavigationManager.LocationChanged -= HandleLocationChanged;
}